/*
* @Author: che
* @Date:   2018-08-13 09:04:30
* @Last Modified by:   Administrator
* @Last Modified time: 2018-08-17 10:27:25
*/

/* 公共样式 小小屏/cos-xs */
/* 顶部导航 */
nav{
	width: 100%;
	height: 60px;
	background-color: #212a3f;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}
nav .con{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
nav .con h4{
	color: #fa3447;
	font-size: 26px;
	line-height: 60px;
	margin: 0;
}
nav .con h4:hover{
	color: #fff;
}
nav .con .list a{
	font-size: 18px;
	color: #999;
	line-height: 60px;
	margin-left: 15px;
}
nav .con .list a:hover{
	color: #fff;
	text-decoration: none;
}
nav .con .list a.list-icon{
	font-size: 40px;
}

nav .con .list a.list-text{
	display: none;
}

/* banner */
.banner{
	width: 100%;
	height: 670px;
	background-image: url('../img/background.jpg');
	margin-top: 60px;
	background-position: center;
	background-size: cover;
	/* 当屏幕滚动时，背景图片固定 */
	background-attachment: fixed;
}
.banner .banner-box{
	/* height: 300px; */
	background-color: rgba(33, 42, 63, 0.5);
	margin-top: 185px;
	padding: 0 40px;
	text-align: center;
	color: #fff;
	animation: flash 2s;
	animation-duration: 2s;
	animation-direction: alternate;
	animation-timing-function: cubic-bezier(.92,0,.16,.95);
	animation-delay: 1s;
	animation-iteration-count: 1;
}
/* 动画名称 */
@keyframes flash{
	0%{
		margin-top: 0;
		opacity: 0;
	}
	100%{
		margin-top: 200px;
		opacity: 1;

	}

}
.banner .banner-box .text1{
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 22px;
}
.banner .banner-box .text2{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 40px;
	font-weight: bold;
	border-top: 7px double red;
	border-bottom: 7px double red;
}
.banner .banner-box .text3{
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.banner .banner-box .text4{
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.banner .banner-box .text5{
	width: 100px;
	height: 40px;
	font-size: 20px;
	border: 1px solid #fff;
	margin: 0 auto;
	line-height: 40px;
	margin-bottom: 40px;
}
.banner .banner-box .text5:hover{
	background-color: rgba(0, 0, 0, 0.8);
	transition: all .5s;
}
.banner .banner-box .pick{
	color: #fff;
	text-decoration: none;
}
.wel .welcome h3{
	text-align: center;
	font-size: 34px;
	color: #62dbce;
	margin-top: 60px;
}
.wel .welcome p{
	width: 75%;
	line-height: 25px;
	text-align: center;
	margin: 0 auto;
	font-size: 16px;
}
.features{
	width: 100%;
	background-color: #62dbce;
	margin-top: 20px;
}
.features .title{
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	font-size: 30px;
	margin: 30px 0;
	letter-spacing: 5px;
}
.features .title:after{
	display: block;
	content: "";
	width: 80px;
	height: 1px;
	background-color: #fff;
	margin: 17px auto 0px;
}
.features ul li{
	padding: 0 20px 35px;
	margin: 30px 0;
}
.features ul li .icon img{
	width: 100px;
	height: 100px;
}
.features ul li .icon .pen{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 1px solid #fff;
	background-color: #62dbce;
	color: #fff;
	text-align: center;	
	line-height: 80px;
	margin: 0 auto;

}
.features ul li .icon .pen i{
	font-size: 34px;
}
.features ul li .con h3{
	margin: 0;
}
.features ul li .con{
	text-align: center;
	/* margin-left: 40px; */
}
.portfolio{
	width: 100%;
	background-color: #fff;
	margin-top: 20px;
}
.portfolio .title{
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	font-size: 30px;
	margin: 30px 0 0;
	color: #000;
	letter-spacing: 5px;
}
.portfolio .title:after{
	display: block;
	content: "";
	width: 80px;
	height: 1px;
	margin: 15px auto 0;
	background-color: #62dbce;
}
.portfolio ul li{
	/* background-color: #8AB839; */
	margin: 20px 0;
	text-align: center;
	position: relative;
}
.portfolio ul li .cover{
	width: calc(100% - 30px);
	height: 0px;
	background-color: rgba(255, 255, 255, 0.6);
	position: absolute;
	top: 0;
	left: 15px;
	transition: all .5s;
}
.portfolio ul li:hover .cover{
	height: 200px;
}
.portfolio ul li img{
	width: 100%;
	height: 200px;
}
.portfolio ul li h3{
	margin: 0;
	background-color: #62dbce; 
	height: 46px;
	line-height: 46px;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
}
.count{
	background-color: rgba(33, 42, 63, 1);
	padding: 80px 0;
	
}
.count ul li{
	height: 100px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
}
.count ul li .cloud{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: #62dbce;
	text-align: center;	
	line-height: 40px;
	margin: 0 auto;
}
.count ul li .cloud i{
	font-size: 40px;
}
.count ul li h3{
	font-size: 14px;
	margin: 0;
	margin: 18px 0;
	height: 14px;
	line-height: 14px;
}
.contact .title{
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	font-size: 30px;
	margin: 30px 0 0;
	color: #000;
	letter-spacing: 5px;
	font-weight: bold; 
}
.contact .title:after{
	display: block;
	content: "";
	width: 80px;
	height: 1px;
	margin: 15px auto 0;
	background-color: #62dbce;

}
.contact .row .contact-form button{
	background-color: #62dbce;
	border: none;
	color: #fff;
}
.contact .row .contact-address p{
	display: block;
}
.contact .row .contact-address i{
	color: #62dbce;
}
.notes{
	width: 100%;
	background-color: rgba(33, 42, 63, 0.9);
	margin-top: 20px;
	padding: 80px 0;
	color: #fff;
	text-align: center;
	line-height: 30px;
	background-image: url('../img/notes-bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.notes .row .hei{
	width: 100%;
	height: 100%;
	background-color: rgba(2, 31, 56, 0.8);
	position: absolute;
	top: 0;
	left: 0;
}
.notes .row button{
	padding: 13px 0;
	background-color: #62dbce;
	color: #fff;
	border: none;
}
footer{
	margin: 15px 0;
}
footer .row p{
	line-height: 1.4;
	text-align: center;
}
footer .row a{
	color: #62dbce;
}

/* 小屏幕 col-sm  >768px */
@media screen and (min-width: 768px){
	nav .con .list a.list-icon{
		display: none;
	}
	nav .con .list a.list-text{
		display: inline;
	}
	.features ul li .con{
		text-align: left;
	}
}
/* 中屏 普通PC col-md  >992px */
@media screen and (min-width: 992px){

}
/* 大屏  col-lg */
@media screen and (min-width: 1200px){

}

