/*
* @Author: Administrator
* @Date:   2018-08-02 10:55:58
* @Last Modified by:   Administrator
* @Last Modified time: 2018-08-16 18:36:15
*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	width: 1200px;
	height: 100%;
	/* background: orange; */
	/* 块元素在块元素中水平居中：外边距 */
	margin: 0 auto;
	position: relative;
}
body{
	background: #f7f7f5;
}
/*顶部导航开始*/
.top-nav{
	width: 100%;
	height: 45px;
	background: #2f2f2f;
}
.top-nav .brand{
	margin-left: 66px;
	float: left;
}
.top-nav .text{
	width: 900px;
	height: 45px;
	float: left;
	padding: 0 0 0 150px;
}
.top-nav .text a{
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 45px;
	text-decoration: none;
	margin-right: 40px;
}
.top-nav .sousuo{
	float: right;
}
.banner{
	width: 100%;
	height:524px;
	background: yellow;
	background-image:url('https://shopstatic.vivo.com.cn/vivoshop/commodity/20180727/20180727151648989120_original.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.banner .list{
	width: 159px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 23px;
    left: 0px;
    padding-top: 30px;
}
.banner .list .list-box{
    width: 100%;
    height: 60px;
    /* background: #fff; */
}
.banner .list .list-box a{
	display: block;
	width: 100%;
	height: 100%;
    color: #000;
	font-size: 16px;
	line-height: 60px;
	text-decoration: none;
	padding-left:40px;
	position: relative;
	
}
.banner .list .list-box a i{
	font-style: normal;
	position: absolute;
	right: 10px;
	top: 0;
}
.banner .dot1{
	width: 42px;
	height: 2px;
	background-color: #fff;
	float: left;
	position: absolute;
	left: 475px;
	right: 0;
	bottom: 15px;
}
.banner .dot2{
	width: 42px;
	height: 2px;
	background-color: #fff;
	float: left;
	position: absolute;
	left: 527px;
	right: 0;
	bottom: 15px;
}
.banner .dot3{
	width: 42px;
	height: 2px;
	background-color: #fff;
	float: left;
	position: absolute;
	left: 579px;
	right: 0;
	bottom: 15px;
}
.banner .dot4{
	width: 42px;
	height: 2px;
	background-color: #fff;
	float: left;
	position: absolute;
	left: 631px;
	right: 0;
	bottom: 15px;
}
.banner .dot5{
	width: 42px;
	height: 2px;
	background-color: #fff;
	float: left;
	position: absolute;
	left: 683px;
	right: 0;
	bottom: 15px;
}
.adv{
	width: 100%;
	height: 140px;
	margin-bottom: 55px;
	margin-top: 10px;
}
.adv .adpic{
    width: 295px;
    height: 140px;
}
/* 热卖专区开始 */
.hot{
	width: 100%;
	height: 622px;
	background: #f7f7f5;
/* 	padding-top: 40px; */
}

/* 后代选择器：父级元素选择器 子级元素选择器 */
.hot .top{
	width: 100%;
	height: 72px;
}
.hot .bottom{
	width: 100%;
	height: 524px;
	/* background: yellow; */
}
.hot .top .title{
	width: 647px;
	height: 100%;
	float: left;
	color: #333;
	font-size: 26px;
	text-align: right;
	line-height: 72px;
}
.hot .top .more{
	width: 46px;
	height: 100%;
	float: right;
}
.hot .top .more a{
	color: #333;
	font-size: 12px;
	/* 文字修饰：none没有修饰（没有下划线） */
	text-decoration: none;
	text-align: center;
	line-height: 72px;
}
.hot .bottom .list{
	width: 394px;
	height: 510px;
	background: white;
	float: left;
	margin-right: 9px;
}
.hot .bottom .last{
	margin-right: 0;
}
.hot .bottom .list img{
	width: 230px;
	height: 230px;
	display: block;
	margin: 0 auto;
	margin-top: 48px;
}
.hot .bottom .list h3{
	/* 宽度不设置，默认与父级元素宽度一致 */
	/* 高度不设置，会由内容自动撑开 */
/* 	width: 100%; */
    color: #000;
	text-align: center;
	margin-top: 15px;
}
.hot .bottom .list p{
/* 	width: 100%; */
    color: #000;
	text-align: center;
	margin-top: 15px;
}
.hot .bottom .list .money{
/* 	width: 100%; */
	text-align: center;
	margin-top: 35px;
	color: red;
}
/* 热卖专区结束 */
/* 精品手机开始 */
.phone{
	width: 100%;
	height: 847px;
	border-top: 37px solid #f7f7f5;
	background: #f7f7f5;
}
.phone .top{
	width: 100%;
	height: 74px;
	background: blue;
}
.phone .bottom{
	width: 100%;
	height: 771px;
	background: #f7f7f5;
}
.phone .bottom .list{
	width: 293px;
	height: 384px;
	background: #fff;
	float: left;
	margin-right: 9px;
	margin-bottom: 9px;
}
/* 伪类选择器 */
.phone .bottom .list:nth-child(3){
	margin-right: 0;
}
.phone .bottom .list:nth-child(7){
	margin-right: 0;
}
.phone .bottom .list:nth-child(1){
	width: 595px;
}
.phone .bottom .list .pic{
	width: 160px;
	height: 160px;
	margin: 40px 70px 20px;
}
.phone .bottom .list h3{
	/* margin-top: 2px ; */
	text-align: center;
	color: #000;
}
.phone .bottom .list p{
	margin-top: 10px ;
	text-align: center;
	color: #000;
}
.phone .bottom .list .money{
	margin-top: 40px ;
	text-align: center;
	color: red;
	font-size: 20px;
}
.phone .top .title{
	width: 647px;
	height: 100%;
	float: left;
	color: #333;
	font-size: 26px;
	text-align: right;
	line-height: 72px;
}
.phone .top .more{
	width: 46px;
	height: 100%;
	float: right;
}
.phone .top .more a{
	color: #333;
	font-size: 12px;
	/* 文字修饰：none没有修饰（没有下划线） */
	text-decoration: none;
	text-align: center;
	line-height: 72px;
}
/* 精品手机结束 */
/* 精品配件开始 */
.part{
	width: 100%;
	height: 850px;
	background: #f7f7f5;
	border-top: 35px solid #f7f7f5;
}
.part .roof{
	width: 100%;
	height: 74px;
	background: #f7f7f5;
}
.part .roof .title{
	width: 647px;
	height: 100%;
	float: left;
	color: #333;
	font-size: 26px;
	text-align: right;
	line-height: 72px;
}
.part .roof .more{
	width: 260px;
	height: 100%;
	float: right;
}
.part .roof .more a{
	color: #333;
	font-size: 12px;
	/* 文字修饰：none没有修饰（没有下划线） */
	text-decoration: none;
	text-align: center;
	line-height: 72px;
	margin-right:35px;
}
.part .base{
	width: 100%;
	height: 780px;
	background: #f7f7f5;
}
.part .base .menu{
	width: 293px;
	height:384px;
    background: #fff;
    float: left;
    margin-right:9px;
    margin-bottom: 9px;
}
.part .base .menu:nth-child(4){
	margin-right: 0;
}
.part .base .menu:nth-child(8){
	margin-right: 0;
}
.part .base .menu .mpic{
	width: 160px;
	height: 160px;
	margin: 40px 70px 20px;
}
.part .base .menu h3{                                                                            
text-align: center;
	color: #000;
}
.part .base .menu p{
    margin-top: 10px ;
	text-align: center;
	color: #000;
}
.part .base .menu .money{
    margin-top: 40px ;
	text-align: center;
	color: red;
	font-size: 20px;
}
/* 精品配件结束 */
/* 底部开始*/
.bottombar{
	width: 100%;
	background: #fff;
	margin-top: 30px;
	overflow: hidden;
}
.bottombar .after-sale{
	width: 100%;
	height: 89px;
	border-bottom: 1px solid #f7f7f5;
	/* background: red; */
	margin: 60px 0;
}
.bottombar .after-sale .text{
	width: 300px;
	height: 28px;
	/* background: yellow; */
	float: left;
	text-align: center;
	line-height: 28px;
}
.bottombar .after-sale .text a{
	display: inline-block;
	width: 300px;
	text-align: center;
	line-height: 28px;
	text-decoration: none;
	font-size: 18px;
	color: #000;
}
.bottombar .after-sale .text i{
	font-size: 24px;
}
.bottombar .under{
	width: 100%;
	height: 260px;
	/* background: red; */
}
.bottombar .directory{
	width: 100%;
	height: 260px;
	/* background: blue; */
}
.bottombar .directory .directory-list{
	width: 960px;
	height: 171px;
	float: left;
	/* background: yellow; */
}
.bottombar .directory .directory-list .list1{
	width: 188px;
	height: 100%;
	/* background: orange; */
	float: left;
}
.bottombar .directory .directory-list .list2{
	width: 193px;
	height: 100%;
	/* background: orange; */
	float: left;
}
.bottombar .directory .directory-list .list3{
	width: 205px;
	height: 100%;
	/* background: orange; */
	float: left;
}
.bottombar .directory .directory-list .list4{
	width: 181px;
	height: 100%;
	/* background: orange; */
	float: left;
}
.bottombar .directory .directory-list .list5{
	width: 193px;
	height: 100%;
	/* background: orange; */
	float: left;
}
.bottombar .directory .directory-list a{
	display: block;
	color: #000;
	text-decoration: none;
	font-size: 12px;
	width: 100%;
	height: 23px;
}
.bottombar .directory .directory-list a:nth-child(1){
	font-weight: bold;
	height: 18px;
}
.bottombar .directory .directory-list a:nth-child(2){
	padding-top: 15px;
	box-sizing: border-box;
	height: 38px;
}
.bottombar .directory .directory-phone{
	width: 240px;
	height: 89px;
	float: right;
}
.bottombar .directory .directory-phone .online{
	width: 240px;
	height: 27px;
	text-align: right;
}
.bottombar .directory .directory-phone .online a{
	display: inline-block;
	font-size: 24px;
	color: blue;
	text-decoration: none;
	width: 240px;
}
.bottombar .directory .directory-phone .online a{
	background-image: url('../img/online-service_8319a93.png');
	margin-top: -3px;
	background-size: 35px 30px;
	background-repeat: no-repeat;
	background-position: 100px 0;
}
.bottombar .directory .directory-phone .phone-num{
	width: 240px;
	height: 50px;
	padding: 20px 0 6px 0;
	font-size: 24px;
	color: #000;
	box-sizing: border-box;
	text-align: right;
}
.bottombar .directory .directory-phone .hotline{
	width: 240px;
	height: 12px;
	font-size: 12px;
	color: #aaa;
	text-align: right;
}
.bottombar .copyright{
	width: 100%;
	height: 82px;
	padding-top: 35px;
	border-top: 1px solid #f7f7f5;
	font-size: 12px;

}
.bottombar .copyright a{
	
	text-decoration: none;
	/* font-size: 12px; */
	color: #000;

}
.bottombar .copyright .china{
	display: inline-block;
	width: 240px;
	background-image: url('../img/gssw-icon-x2_db0a7f6.png');
	background-size: 18px 18px;
	background-repeat: no-repeat;
	background-position: 210px 0;
}
.bottombar .copyright .other{
	float: right;
}
.bottombar .copyright .right2{
	width: 90px;
	text-align: center;
	float: right;
}
.bottombar .copyright .other span{
	float: right;
}
.bottombar .copyright .right1{
	width: 90px;
	text-align: center;
	float: right;
}